<a href="https://colab.research.google.com/github/Houmayan/Regression/blob/main/Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error

In [ ]:
df = pd.read_csv("/content/Bangalore.csv")

In [ ]:
df

         Price  Area  ... Wardrobe  Refrigerator
0     30000000  3340  ...        0             0
1      7888000  1045  ...        0             0
2      4866000  1179  ...        0             0
3      8358000  1675  ...        0             0
4      6845000  1670  ...        0             0
...        ...   ...  ...      ...           ...
6202   5364000   590  ...        9             9
6203   8716000  1179  ...        9             9
6204   7373000  1143  ...        9             9
6205   4985000  1680  ...        9             9
6206  10900000  1162  ...        9             9

[6207 rows x 40 columns]

In [ ]:
df.shape

(6207, 40)

In [ ]:
df.isnull().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [ ]:
corr = np.abs(df.corr()['Price']).sort_values(ascending=False)
corr = corr.rename_axis('Column').reset_index(name='Correlation')
corr

                 Column  Correlation
0                 Price     1.000000
1                  Area     0.397626
2       No. of Bedrooms     0.234272
3                Resale     0.038024
4        SportsFacility     0.036435
5             ClubHouse     0.036059
6            CarParking     0.035386
7          JoggingTrack     0.035339
8          SwimmingPool     0.034450
9           IndoorGames     0.033942
10        Gasconnection     0.033865
11  RainWaterHarvesting     0.033558
12         24X7Security     0.033528
13                  BED     0.033519
14                   AC     0.033497
15            Microwave     0.033460
16                 Sofa     0.033460
17          DiningTable     0.033460
18                   TV     0.033460
19         Refrigerator     0.033460
20       WashingMachine     0.033460
21   Children'splayarea     0.032281
22            Gymnasium     0.031976
23            Cafeteria     0.031584
24           GolfCourse     0.031330
25         StaffQuarter     0.031274
26          PowerBackup     0.031008
27             Intercom     0.030951
28     MaintenanceStaff     0.030497
29                 Wifi     0.030335
30             Wardrobe     0.030335
31     MultipurposeRoom     0.030135
32                  ATM     0.029886
33             Hospital     0.029807
34    LandscapedGardens     0.029744
35      VaastuCompliant     0.029598
36         ShoppingMall     0.029271
37        LiftAvailable     0.028814
38               School     0.028669

In [ ]:
df.drop(['Location','MaintenanceStaff','Intercom','ClubHouse','StaffQuarter','MultipurposeRoom'],  axis=1, inplace=True)
df

         Price  Area  No. of Bedrooms  ...  Sofa  Wardrobe  Refrigerator
0     30000000  3340                4  ...     0         0             0
1      7888000  1045                2  ...     0         0             0
2      4866000  1179                2  ...     0         0             0
3      8358000  1675                3  ...     0         0             0
4      6845000  1670                3  ...     0         0             0
...        ...   ...              ...  ...   ...       ...           ...
6202   5364000   590                1  ...     9         9             9
6203   8716000  1179                2  ...     9         9             9
6204   7373000  1143                2  ...     9         9             9
6205   4985000  1680                3  ...     9         9             9
6206  10900000  1162                2  ...     9         9             9

[6207 rows x 34 columns]

In [ ]:
x = df.drop('Price', axis=1)
y = df.Price

In [ ]:
x.head(5)

   Area  No. of Bedrooms  Resale  ...  Sofa  Wardrobe  Refrigerator
0  3340                4       0  ...     0         0             0
1  1045                2       0  ...     0         0             0
2  1179                2       0  ...     0         0             0
3  1675                3       0  ...     0         0             0
4  1670                3       0  ...     0         0             0

[5 rows x 33 columns]

In [ ]:
y.head(5)

0    30000000
1     7888000
2     4866000
3     8358000
4     6845000
Name: Price, dtype: int64

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [ ]:
scaler = StandardScaler()
scaled_x_train = scaler.fit_transform(x_train)
scaled_x_test = scaler.transform(x_test)

In [ ]:
scaled_x_train

array([[ 0.13157394,  0.63328564, -0.29681633, ...,  0.67683772,
         0.67750038,  0.67683772],
       [-0.44667547, -0.80771492, -0.29681633, ...,  0.67683772,
         0.67750038,  0.67683772],
       [-0.04125117,  0.63328564, -0.29681633, ...,  0.67683772,
         0.67750038,  0.67683772],
       ...,
       [-0.40509349, -0.80771492, -0.29681633, ..., -1.50373138,
        -1.47601394, -1.50373138],
       [ 0.03801448,  0.63328564, -0.29681633, ...,  0.67683772,
         0.67750038,  0.67683772],
       [-0.31413291,  0.63328564, -0.29681633, ...,  0.67683772,
         0.67750038,  0.67683772]])

In [ ]:
reg = MLPRegressor(hidden_layer_sizes=(64),activation="relu" ,random_state=1, max_iter=2000).fit(scaled_x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (2000) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
y_pred=reg.predict(scaled_x_test)
y_pred

array([1803288.98020076, 1575157.02786769, 1556935.82007144, ...,
       1582977.28872446, 1601980.52260639, 1567414.9696195 ])

In [ ]:
print("Error rate ", mean_squared_error(y_pred, y_test))

Error rate  294300715783343.44